
/* 
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';
*/                 
.luz {
    border-radius: 50%;
    background-color: black;
    width: 100px;
    height: 100px;
}
.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.roja {
    background-color: red;
}
.amarilla {
    background-color: yellow;
    margin-top: 10px;
}
.verde {
    background-color: green;
    margin-top: 10px;
}
.semaforo {
    background-color: black;
    margin-top: 50px;
    padding: 20px;
    display: inline-block;
    border-radius: 5%;
}
.amarilla-brillar {
    background-color: yellow;
    margin-top: 10px;
    box-shadow: 0px 0px 35px 10px #fbff00;
}
.verde-brillar {
    background-color: green;
    margin-top: 10px;
    box-shadow: 0px 0px 35px 10px #088001;
}
.roja-brillar {
    background-color: red;
    box-shadow: 0px 0px 35px 10px #ef1b1b;
}